@import "base.scss";
body{
    box-sizing: border-box;
    padding: 30px;
}
.appdiv{
    @include r;
    margin-bottom: 25px;
    *{
        margin-bottom: 10px;
    }
    ul{
        @include r;
    }
    li{
        @include r;
        box-sizing: border-box;
        padding-left: 20px;
    }
    input{
        border: 1px solid #ccc;
        padding: 10px;
        @include border-radius(5px);
    }
    .p{
        @include r(150px);
        @include border-radius(5px);
        padding: 10px;
        border: 1px solid #ccc;
        margin-right: 5px;
    }
    &.class-a{
        color: #fff;
        background-color: gray;
    }
    &.class-b{
        color: #fff;
        background-color: blue;
    }
}
.click{
    cursor: pointer;
}